<nav class="ui menu">
    <header class="ui header item"> <a href="#"> Play gym </a></header>
    <div class="right menu">
        <a id="dashboard" class="item" href="/trainerdashboard"> Dashboard  </a>
        <a id="about" class="item" href="/about">about</a>
    </div>
    <div class="ui compact menu">
        <div class="ui simple dropdown item">
            <div class="ui centered image">
                <div class="ui centered mini icon">
                    <i class=" user icon"></i>
                </div>
            </div>
            <div class="menu">
                <a id="logout" class="item" href="/logout">Logout</a>
                <a id="user"class="item" href="/update">Settings</a>
            </div>
        </div>
    </div>
</nav>

<script>
    $("#{{id}}").addClass("active item");
</script>